Draft_Flow/Processor.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "articles_status",
          "mode": "list",
          "cachedResultName": "articles_status"
        },
        "where": {
          "values": [
            {
              "column": "status",
              "value": "pending"
            }
          ]
        },
        "options": {
          "queryBatching": "single"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        -60
      ],
      "id": "81ad2cb8-5a07-4290-9713-dc2191560d14",
      "name": "Check Pending",
      "credentials": {
        "postgres": {
          "id": "n0E8eAX21FqvLM3w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -60,
        -60
      ],
      "id": "1306cce9-8bed-4cab-8dab-097f7f2a9fc5",
      "name": "Loop over Articles"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        980,
        -120
      ],
      "id": "99bef7d9-b0e2-4781-af24-b47a11bd1586",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "n0E8eAX21FqvLM3w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        200,
        -140
      ],
      "id": "95170535-b362-4796-89b6-f370c10c39ec",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 12,23 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -420,
        -60
      ],
      "id": "813afb15-be2a-4d45-a3b6-d5a0dcc485ee",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "height": 580,
        "width": 1960
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -500,
        -160
      ],
      "typeVersion": 1,
      "id": "a221c865-fd1a-4538-891c-d3634acef30e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e6bfdaa-2e8c-4b2f-b6e8-61596363e571",
              "name": "guid",
              "value": "={{ $('Check Pending').item.json.guid }}",
              "type": "string"
            },
            {
              "id": "3ba5c5e4-5056-4c15-afc5-bda78472e16d",
              "name": "title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "76d26ccb-c408-4f7d-8613-0351f5eab473",
              "name": "creator",
              "value": "={{ $json.output.creator }}",
              "type": "string"
            },
            {
              "id": "48f2cb7a-5a3a-4d7f-a5bc-38576c70586d",
              "name": "content",
              "value": "={{ $json.output.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        40
      ],
      "id": "35e86875-95d4-4800-9692-46ebbad0e38e",
      "name": "Get indexes"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "z2cQdegsi8ZV6viZ",
          "mode": "list",
          "cachedResultName": "Loop over Articles"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        200,
        40
      ],
      "id": "2a3585b7-fdf1-4cfa-994b-21161a71a6e4",
      "name": "Parsing",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1320,
        200
      ],
      "id": "94dad359-baf0-4828-ac2a-83dd88c43d92",
      "name": "Wait",
      "webhookId": "f8b8df48-33b1-4a00-88e8-0138c4d40ea8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fea87449-24be-489f-94f6-85a8e5e644e2",
              "leftValue": "={{ $json.output.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        580,
        40
      ],
      "id": "92aa4d14-a9f0-41c9-aba2-9d3acdc25a23",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "articles_index",
          "mode": "list",
          "cachedResultName": "articles_index"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "guid": "={{ $json.guid }}",
            "title": "={{ $json.title }}",
            "creator": "={{ $json.creator }}",
            "content": "={{ $json.content }}"
          },
          "matchingColumns": [
            "guid"
          ],
          "schema": [
            {
              "id": "guid",
              "displayName": "guid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "creator",
              "displayName": "creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        200
      ],
      "id": "c4203355-9642-4ab9-a70b-b2d561a14dbb",
      "name": "Save raw Data",
      "credentials": {
        "postgres": {
          "id": "n0E8eAX21FqvLM3w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE articles_status\nSET status = 'completed'\nWHERE guid = '{{ $json.guid }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1140,
        200
      ],
      "id": "409d38ae-6db5-485a-b1fd-d651388fc0ba",
      "name": "Update Status",
      "credentials": {
        "postgres": {
          "id": "n0E8eAX21FqvLM3w",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1000,
        40
      ],
      "id": "753a642f-0107-44f4-b014-127437bbcdb3",
      "name": "Nomic",
      "credentials": {
        "ollamaApi": {
          "id": "ZitYAULxZq3ycatt",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1160,
        40
      ],
      "id": "9ff2c2a1-42c4-4961-aea4-468c14b8d3cb",
      "name": "Data Loader"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e6e2ec2-bd8f-474c-99d0-29c0810a0a87",
              "leftValue": "={{ $json.output.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        140
      ],
      "id": "73fe8697-9604-4b85-9116-2d9accfa36c3",
      "name": "If1"
    }
  ],
  "connections": {
    "Check Pending": {
      "main": [
        [
          {
            "node": "Loop over Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over Articles": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Check Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get indexes": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save raw Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsing": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop over Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get indexes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save raw Data": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomic": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "9295b22a309b6e3383c40aee81f54809ee1fb468c7f2047b0ddac566be4f121c"
  }
}
