Sitemap.json
{
  "name": "Sitemap",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6c5ac86-6d67-42fb-96ec-9826caf452e2",
              "name": "sitemapUrl",
              "type": "string",
              "value": "https://insidehpc.com/sitemap-posttype-post.2025.xml"
            }
          ]
        },
        "options": {}
      },
      "id": "e11c8ee5-938a-435c-ac03-f45f5e0a380b",
      "name": "Set sitemap URL",
      "type": "n8n-nodes-base.set",
      "position": [
        140,
        60
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "id": "bd7dbf93-f048-427e-abc3-7f53b0b1a61f",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        680,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.sitemapUrl }}",
        "options": {}
      },
      "id": "6b06e007-cc06-4981-83bb-c6d86bd99c54",
      "name": "Get Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        60
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {
          "ignoreAttrs": true,
          "mergeAttrs": true,
          "normalize": true,
          "normalizeTags": true,
          "trim": true
        }
      },
      "id": "307f0ae3-8c0c-4dc9-b444-f173030d0b80",
      "name": "Convert Sitemap to JSON",
      "type": "n8n-nodes-base.xml",
      "position": [
        500,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0bf8e98c-b6c5-4129-852c-0d3e63f32f9f",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.loc }}",
              "rightValue": "https://insidehpc.com/2025/04/"
            },
            {
              "id": "a8e9ec49-1f6e-4f9f-ac52-adf00b69d259",
              "leftValue": "={{ $json[\"image:image\"][\"image:loc\"] }}",
              "rightValue": "https://insidehpc.com/",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "26ce9c2e-445c-4854-ba53-5cd3e1746c96",
      "name": "Filter URLs",
      "type": "n8n-nodes-base.filter",
      "position": [
        860,
        60
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "**Set your sitemap.xml\nurl here.**",
        "height": 240,
        "width": 150,
        "color": 6
      },
      "id": "1a9cda5b-7957-4581-a56b-e9145bc430fb",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Create your filter here.**",
        "height": 240,
        "width": 150,
        "color": 6
      },
      "id": "f39ce413-b23c-46f5-ab9f-c30c15ec7f59",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        840,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Fetch and process the sitemap.xml file\nThis part fetches and process the sitemap.xml file from XML data to JSON that we can work with.",
        "height": 300,
        "width": 540,
        "color": 7
      },
      "id": "9bcc310b-1296-46d6-9302-9e1bce8ebd6f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        280,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Sitemap.xml reader\nThis workflow reads an sitemap.xml and filters out the entries you want.\n\nBy default only PDF documents are returned at the end of the workflow.\n\n**SETUP**\n- Edit the **Set sitemap URL** block and add the url to the sitemap you want to read.\n\n- Edit the **Filter URLs** to your needs.",
        "height": 300,
        "width": 280
      },
      "id": "4e2484bd-f700-4be0-8e2e-87820d1b7f31",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "context",
              "cssSelector": "meta[property=\"og:description\"]",
              "returnValue": "attribute"
            },
            {
              "key": "title",
              "cssSelector": "title",
              "skipSelectors": ".img, nav"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        420,
        360
      ],
      "id": "dc49bfd9-c934-4f2f-b118-60681f22213b",
      "name": "HTML"
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        360
      ],
      "id": "549b8dd3-7de7-4277-9048-8c75f46fe502",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "maxItems": 7
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        220,
        360
      ],
      "id": "f3967439-febd-4adf-93e1-c963466d6c56",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following:\n\n\n{{ $json.title }}\n\n\nCONCISE SUMMARY:",
              "prompt": "=Write a concise summary of the following:\n\n{{ $json.context.content }}\n\n\nCONCISE SUMMARY:"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2,
      "position": [
        680,
        340
      ],
      "id": "58439c58-5e6f-42a6-bd22-3ccc1436b66e",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        780,
        460
      ],
      "id": "039028cc-8819-40b8-b667-05febdabddf0",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "xKS9J6a3oNHCgdCX",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "indexId": "insideHPC",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=content",
              "fieldValue": "={{ $json.response.text }}"
            }
          ]
        },
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.elasticsearch",
      "typeVersion": 1,
      "position": [
        1060,
        340
      ],
      "id": "252a9a0b-e74b-42fe-a7b5-efdeaad0fbb4",
      "name": "Elasticsearch",
      "credentials": {
        "elasticsearchApi": {
          "id": "335bdpJG9lsTJdEl",
          "name": "Elasticsearch account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -40,
        60
      ],
      "id": "c4695da5-f6ad-4660-b387-957b3d64cfbc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "Request through all the URLs that you have filtered to extract content and title of each articles inside.\nI use Limit node to optimize the time to execute.",
        "height": 260,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        280
      ],
      "typeVersion": 1,
      "id": "9e989163-02c3-487f-8c0f-b1ac94ac9e37",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Summarize the content of the articles so that the data is clean.",
        "height": 340,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        280
      ],
      "typeVersion": 1,
      "id": "27342c59-bda4-498e-bae9-6c59a704836f",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sitemap": {
      "main": [
        [
          {
            "node": "Convert Sitemap to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set sitemap URL": {
      "main": [
        [
          {
            "node": "Get Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Sitemap to JSON": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter URLs": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Elasticsearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set sitemap URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0cee7458-f2ce-4f66-94c6-636bd04d42dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58bbb0cc1b89badf83b4cae35ae01c30ebf30b4d6a1dbe0d105d7f2e34faf986"
  },
  "id": "Qnbtspf4bql5zrrI",
  "tags": []
}